.header_container {
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: brown;
}

.header {
    padding: 10px 50px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}